.olympus{
  background-color: black;
  padding: 70px;
}
h1{
  color: white
}
.topnav a {
  float: right;
  padding: 12px;
  color: white;
  font-size: 17px;
}
.topnav {
  width:100%;
  background-color: #555;
  overflow: visible;
  height:150px;
  font-size: 17px;

}
.topnav a:hover {
  background-color: red;
  }
.musket{
  background-image: url(https://images.pexels.com/photos/1842623/pexels-photo-1842623.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
padding: 80px;
background-repeat: no-repeat;
background-size: cover;
}
h1{
  color: violet;
}
.jungle{
  background-image:url(https://images.pexels.com/photos/1842623/pexels-photo-1842623.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  padding: 70px;
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: cover;
  text-rendering: optimizeLegibility;
}
.cliff{
  background-color: black
}
.browse_recipes_header{
  color: white;
}
h2{
  color:violet
}
.hood{
  background-color: black

}
.lockhed{
  background-color: grey
}
.herculis{
  padding: 70px;
  background-color: grey;

}
.oo {
  text-align: center;
  background-color: black;
  color: white;
  * {
  box-sizing: border-box;
}
